<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.minoritsphereapp">

    <!-- Internet permission for network access -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginAndSignUp">

        <activity
            android:name=".SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignUpActivity"
            android:exported="false" />

        <activity android:name=".StudentPannel" />
        <activity android:name=".FacultyPannel" />

        <activity android:name=".NotesActivity" />
        <activity android:name=".AdminPannel" />
        <activity android:name=".AboutDepartments" />
        <activity android:name=".IseInfo" />
        <activity android:name=".CseInfo" />
        <activity android:name=".AimlInfo" />
        <activity android:name=".PlacementPannel" />
        <activity android:name=".PlacementStats" />
        <activity android:name=".AddEvent" />
        <activity android:name=".ViewEvents" />
        <activity android:name=".AddPlacement" />
        <activity android:name=".ViewPlacements" />
        <activity android:name=".ChatBotActivity" />

        <activity android:name=".QuizPannel"/>
        <activity android:name=".QuizActivity"/>



        <activity android:name=".ProfilePannel" />



        <activity
            android:name=".MainActivity"
            android:exported="true" />

    </application>

</manifest>
